.abc {
  background: -webkit-linear-gradient(45deg, blue, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aabc {
background: linear-gradient(to right, #2693c3, #a0d8ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
