  /* 將父元素設置為彈性容器，並居中對齊其子元素 */
  .container {
    display: flex;
    justify-content: center;
  }
  
  /* 調整搜尋框的寬度 */
  .algolia-autocomplete {
    width: 60%; /* 您可以根據需要調整寬度 */
  }
.docSearch button {
  margin: 10;
  width: 60%;
}
